<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.o2o.dao.ProductImgMapper" >
  <resultMap id="BaseResultMap" type="com.o2o.pojo.ProductImg" >
    <constructor >
      <idArg column="product_img_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="img_addres" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="img_describle" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="priority" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="product_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    product_img_id, img_addres, img_describle, priority, product_id, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from td_product_img
    where product_img_id = #{productImgId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from td_product_img
    where product_img_id = #{productImgId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.o2o.pojo.ProductImg" >
    insert into td_product_img (product_img_id, img_addres, img_describle, 
      priority, product_id, create_time
      )
    values (#{productImgId,jdbcType=INTEGER}, #{imgAddres,jdbcType=VARCHAR}, #{imgDescrible,jdbcType=VARCHAR}, 
      #{priority,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.o2o.pojo.ProductImg" >
    insert into td_product_img
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productImgId != null" >
        product_img_id,
      </if>
      <if test="imgAddres != null" >
        img_addres,
      </if>
      <if test="imgDescrible != null" >
        img_describle,
      </if>
      <if test="priority != null" >
        priority,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productImgId != null" >
        #{productImgId,jdbcType=INTEGER},
      </if>
      <if test="imgAddres != null" >
        #{imgAddres,jdbcType=VARCHAR},
      </if>
      <if test="imgDescrible != null" >
        #{imgDescrible,jdbcType=VARCHAR},
      </if>
      <if test="priority != null" >
        #{priority,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.o2o.pojo.ProductImg" >
    update td_product_img
    <set >
      <if test="imgAddres != null" >
        img_addres = #{imgAddres,jdbcType=VARCHAR},
      </if>
      <if test="imgDescrible != null" >
        img_describle = #{imgDescrible,jdbcType=VARCHAR},
      </if>
      <if test="priority != null" >
        priority = #{priority,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where product_img_id = #{productImgId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.o2o.pojo.ProductImg" >
    update td_product_img
    set img_addres = #{imgAddres,jdbcType=VARCHAR},
      img_describle = #{imgDescrible,jdbcType=VARCHAR},
      priority = #{priority,jdbcType=INTEGER},
      product_id = #{productId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where product_img_id = #{productImgId,jdbcType=INTEGER}
  </update>
  <insert id="insetProductImgs" parameterType="java.util.List">
    insert  into  td_product_img (img_addres, img_describle,
      priority, product_id, create_time)
      values
    <foreach collection="list" separator="," index="index" item="item">
      ( #{item.imgAddres,jdbcType=VARCHAR}, #{item.imgDescrible,jdbcType=VARCHAR},
      #{item.priority,jdbcType=INTEGER}, #{item.productId,jdbcType=INTEGER}, #{item.createTime,jdbcType=TIMESTAMP}
      )
    </foreach>
  </insert>
</mapper>