<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.o2o.dao.ShopCategoryMapper" >
  <resultMap id="BaseResultMap" type="com.o2o.pojo.ShopCategory" >
    <constructor >
      <idArg column="shop_category_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="shop_category_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="shop_category_describle" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="shop_category_img" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="shop_category_priorty" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="parent_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    shop_category_id, shop_category_name, shop_category_describle, shop_category_img, 
    shop_category_priorty, parent_id, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from td_shop_category
    where shop_category_id = #{shopCategoryId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from td_shop_category
    where shop_category_id = #{shopCategoryId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.o2o.pojo.ShopCategory" >
    insert into td_shop_category (shop_category_id, shop_category_name, 
      shop_category_describle, shop_category_img, 
      shop_category_priorty, parent_id, create_time, 
      update_time)
    values (#{shopCategoryId,jdbcType=INTEGER}, #{shopCategoryName,jdbcType=VARCHAR}, 
      #{shopCategoryDescrible,jdbcType=VARCHAR}, #{shopCategoryImg,jdbcType=VARCHAR}, 
      #{shopCategoryPriorty,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.o2o.pojo.ShopCategory" >
    insert into td_shop_category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="shopCategoryId != null" >
        shop_category_id,
      </if>
      <if test="shopCategoryName != null" >
        shop_category_name,
      </if>
      <if test="shopCategoryDescrible != null" >
        shop_category_describle,
      </if>
      <if test="shopCategoryImg != null" >
        shop_category_img,
      </if>
      <if test="shopCategoryPriorty != null" >
        shop_category_priorty,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="shopCategoryId != null" >
        #{shopCategoryId,jdbcType=INTEGER},
      </if>
      <if test="shopCategoryName != null" >
        #{shopCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="shopCategoryDescrible != null" >
        #{shopCategoryDescrible,jdbcType=VARCHAR},
      </if>
      <if test="shopCategoryImg != null" >
        #{shopCategoryImg,jdbcType=VARCHAR},
      </if>
      <if test="shopCategoryPriorty != null" >
        #{shopCategoryPriorty,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.o2o.pojo.ShopCategory" >
    update td_shop_category
    <set >
      <if test="shopCategoryName != null" >
        shop_category_name = #{shopCategoryName,jdbcType=VARCHAR},
      </if>
      <if test="shopCategoryDescrible != null" >
        shop_category_describle = #{shopCategoryDescrible,jdbcType=VARCHAR},
      </if>
      <if test="shopCategoryImg != null" >
        shop_category_img = #{shopCategoryImg,jdbcType=VARCHAR},
      </if>
      <if test="shopCategoryPriorty != null" >
        shop_category_priorty = #{shopCategoryPriorty,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where shop_category_id = #{shopCategoryId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.o2o.pojo.ShopCategory" >
    update td_shop_category
    set shop_category_name = #{shopCategoryName,jdbcType=VARCHAR},
      shop_category_describle = #{shopCategoryDescrible,jdbcType=VARCHAR},
      shop_category_img = #{shopCategoryImg,jdbcType=VARCHAR},
      shop_category_priorty = #{shopCategoryPriorty,jdbcType=INTEGER},
      parent_id = #{parentId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where shop_category_id = #{shopCategoryId,jdbcType=INTEGER}
  </update>
  <select id="findParent" resultMap="BaseResultMap" parameterType="com.o2o.pojo.ShopCategory">
    select
    <include refid="Base_Column_List" />
    from td_shop_category
    <where>
    <if test="parentId!=null" >
      shop_category_id=#{parentId}
    </if>
    </where>
  </select>
  <select id="getFirstLine" resultMap="BaseResultMap" parameterType="com.o2o.pojo.ShopCategory">
    select
    <include refid="Base_Column_List" />
    from td_shop_category
    <where>
      <if test="parentId==null" >
        shop_category_id=null
      </if>
    </where>
  </select>
</mapper>